* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    background-color: beige;
    margin: auto;
    width: 600px;
    padding: 0;
}

h1 {

    text-align: center;
    margin: 10px auto;
}


.grid {
    margin: auto;
    display: flex;
    height: 450px;
    width: 450px;
    border: 2px solid black;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.cell {
    flex: 1;
    background-color: white;
}

.buttons {
    display: flex;
    margin: auto;
    width: 450px;
}

button {
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: black;
    color: white;
    height: 50px;
    flex: 1;
}